.wrapper {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;
}

.removeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: darkgoldenrod;
    font-weight: bold;
}

.wrapper:hover {
    background: #191919;
    text-decoration: line-through;
}

.cartImg {
    width: 150px;
    padding: 30px;
}

.info {
    max-width: 200px;
}

.price {
    color: darkgoldenrod;
    padding: 20px;
    font-weight: bold;
    min-width: 50px;
}